*{
    box-sizing: border-box;
}


@font-face {
    font-family: paloseco;
    src: url(../fonts/Paloseco-LightItalic.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: paloseco;
}

.banner-image{
    background-color: white;
    background-size: cover;
    
}

.a-navbar{
    color: black;
    
}

.nav{
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;

}

.bg-color{
    background-color: #7B6A58;
}

.texto-negro{
    color: black;
    transition: all 0.5s;
}

.texto-blanco{
    color: white;
    transition: all 0.5s;
}
