*{
    box-sizing: border-box;
}


@font-face {
    font-family: paloseco;
    src: url(../fonts/Paloseco-LightItalic.ttf);
}

@font-face {
    font-family: palosecomedium;
    src: url(../fonts/Paloseco-Medium.ttf);
}

.jh1{
    font-family: palosecomedium;
    margin-right: 100px;
}

body{
    margin: 0;
    padding: 0;
    font-family: paloseco;
    overflow-x: hidden;
}

.spinner-wrapper{
    background-color: #CBBBA0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.10s;
}

.spinner-border{
    height: 60px;
    width: 60px;
}

.bg-image{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav-link{
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #CBBBA0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar{
    transition: 0.4s;
}


.navbar-scrolled{
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.yop{
    background-color: black;
    width: 40%;
    background-repeat: no-repeat;
    z-index: 1;
}
