*{
    box-sizing: border-box;
}


@font-face {
    font-family: paloseco;
    src: url(../fonts/Paloseco-LightItalic.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: paloseco;
    background-image: url(../assets/1.png);
    background-size: cover;
    z-index: -1;
}

.banner-imge{
    background-image: url(../assets/1.png);
    
    background-size: cover;
}

.i{
    background-image: url(../assets/1.png);
    background-size: cover;
}


.bg-color{
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.5s;
    
}

.cuadrocoso{
    background-color: white;
}

.texto-negro{
    color: black;
    transition: all 0.5s;
}

.texto-blanco{
    color: white;
    transition: all 0.5s;
}

