*{
    box-sizing: border-box;
}


@font-face {
    font-family: paloseco;
    src: url(../fonts/Paloseco-LightItalic.ttf);
}

@font-face {
    font-family: palosecomedium;
    src: url(../fonts/Paloseco-Medium.ttf);
}

@font-face {
    font-family: palosecomediumi;
    src: url(../fonts/Paloseco-MediumItalic.ttf);
}

@font-face {
    font-family: acumin;
    src: url(../fonts/Acumin-ItPro.otf);
}


.jh1{
    font-family: palosemedium;
    font-style: medium;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: paloseco;
    overflow-x: hidden;
}

.spinner-wrapper{
    background-color: #CBBBA0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.10s;
}

.spinner-border{
    height: 60px;
    width: 60px;
}

.bg-image{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav-link{
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #CBBBA0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar{
    transition: 0.4s;
}


.navbar-scrolled{
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.linea2{
    border-top: 2px solid black ;
    height: 1px;
    border-radius: 100%;
}

.menu{
    z-index: 1;
    height: 105vh;

}

.menuvid{
    width: 50%;
    margin-left: 150px;
    position: relative;
    bottom: 260px;
    right: 40px;
}


.menu2{
    width: 42%;
    position: relative;
    right: 170px;
    bottom: 190px;
}

.port1{
    width: 40%;
    font-family: paloseco;
    position: relative;
    top: 80px;
    left: 550px;
    font-size: 3.5rem;
    z-index: 1;
    
}

.port2{
    width: 35%;
    font-family: palosecomedium;
    position: relative;
    top: 640px;
    left: 1360px;
    font-size: 4rem;
    z-index: 1;
    
}

.qnh1{
    font-family: palosecomedium;
    width: 200%;
    position: relative;
    right: 20px;
}

.qnh1-1{
    font-family: palosecomedium;
    width: 140%;
    position: relative;
    right: 40px;
    color: black(201, 185, 185);
}

.sobre-mi{
    width: 100%;
    height: 50vw;
}

.yo{
    background-color:#CBBBA0;
    padding: 1%;
    opacity: 1;
    border-radius: 10px;
    border: 10px;
    border-color: black;
    width: 33%;
    position: relative;
    bottom: 90px;
    right: 40px;
    z-index: 1;
}

.modal{
    font-size: 2rem;
    font-family: acumin;
}

.qn-1{
    border: 10px solid #80725b;
    padding: 2%;
    border-radius: 10px;
    width: 50%;

    font-family: paloseco;
    position: relative;
    left: 150px;
    top: 100px;
    font-size: 2.5rem;
}

.qn-2{
    width: 50%;
    padding: 2%;

    font-family: paloseco;
    position: relative;
    left: 150px;
    top: 100px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-success{
    width: 25%;
    height: 3vw;
    background-color: #C3B49B;
    border: 0px;

}

.btn-success:hover{
    background-color: #80725b;
}

.servicios{
    height: 100vh;
}

.serv-h1{
    font-family: palosecomediumi;
    margin-top: 5%;
    margin-left: 6%;
    font-size: 4rem;
}

.qhago-1{
    border: 8px solid #80725b;
    padding: 2%;
    width: 35%;

    font-family:acumin;
    position: relative;
    bottom: 150px;
    left: 900px;
    font-size: 4rem;
    z-index: 1;
}


.qhago-2{
    border: 3px solid black;
    padding: 1%;
    width: 35%;

    font-family:paloseco;
    position: relative;
    bottom: 200px;
    left: 280px;
    font-size: 2rem;
}

.qhago-3{
    background-color: #80725b;
    border: 10px solid #80725b;
    padding: 1%;
    width: 45%;

    font-family:paloseco;
    position: relative;
    bottom: 300px;
    left: 900px;
    font-size: 2rem;
    color: white;
    z-index: 1;
}

.proyectos{
    height: 100vh;
}

.proy-h1{
    background-color: #CBBBA0;
    margin-top: 5px;
    width: 120%;
    font-family: palosecomediumi;
    font-size: 4rem;
    position: relative;
    right: 50px;
}

.proy-1{
    font-family: paloseco;
    font-size: 4rem;
    margin-top: 80px;
}

.proy-2{
    font-family: paloseco;
    font-size: 4rem;
}

/* HASTA ACA ESTAN LOS MEDIA QUERIES !!!!!!!! ACTUALIZAR ////////////////////////////////// */








