*{
    box-sizing: border-box;
}


@font-face {
    font-family: paloseco;
    src: url(../fonts/Paloseco-LightItalic.ttf);
}

@font-face {
    font-family: palosecomedium;
    src: url(../fonts/Paloseco-Medium.ttf);
}

.jh1{
    font-family: palosemedium;
    font-style: medium;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: paloseco;
    overflow-x: hidden;
}

.spinner-wrapper{
    background-color: #CBBBA0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.10s;
}

.spinner-border{
    height: 60px;
    width: 60px;
}

.bg-image{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.nav-link{
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #CBBBA0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar{
    transition: 0.4s;
}


.navbar-scrolled{
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.linea2{
    border-top: 2px solid black ;
    height: 1px;
    border-radius: 100%;
}

.menu{
    z-index: 1;

}

.menuvid{
    width: 45%;
    margin-left: 150px;
    position: relative;
    bottom: 30px;
    right: 40px;
}


.menu2{
    width: 41%;
    position: relative;
    right: 130px;
    bottom: 28px;
}

.port1{
    width: 30%;
    font-family: paloseco;
    position: relative;
    top: 80px;
    left: 500px;
    font-size: 2rem;
    z-index: 1;
    
}

.port2{
    width: 15%;
    font-family: palosecomedium;
    position: relative;
    bottom: 120px;
    left: 1024px;
    font-size: 2rem;
    z-index: 1;
    
}

.qnh1{
    font-family: palosecomedium;
    width: 130%;
    position: relative;
    right: 20px;
    color: rgb(201, 185, 185);
}

.qnh1-1{
    font-family: palosecomedium;
    width: 140%;
    position: relative;
    right: 40px;
    color: rgb(201, 185, 185);
}

.sobre-mi{
    width: 100%;
    height: 57vw;
}

.yo{
    background-color:#CBBBA0;
    opacity: 1;
    border-radius: 10px;
    border: 10px;
    border-color: black;
    width: 33%;
    position: relative;
    bottom: 115px;
    z-index: 1;
}

